{% extends 'base.html' %}
{% load static %}
{% load media %}
    {% block content %}
    <div id="posts" class="container">
      <div class="row">
        <section class="col-md-8 wow fadeIn">
          <div class="post">
            <div class="row">
              <div class="col-md-6 media">
                <img src="{% media 'uploads/DeathtoStock_EnergyandSerenity31.jpg' %}" class="img-fluid" />
              </div>
              <div class="col-md-6 caption">
                <span class="post-tag">#music</span>
                <a href="{% url 'blog:post' %}" class="post-title">Don't look at me</a>
                <span class="post-date">19 Sept 2015</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis <a href="#">parturient montes</a>, nascetur ridiculus mus. Aenean commodo ligula eget dolor.</p>
              </div>
            </div>
          </div>
        </section>

        <section class="col-md-4 wow fadeIn">
          <div class="post">
            <div class="media">
              <img src="{% media 'uploads/DeathtoStock_EnergyandSerenity4.jpg' %}" class="img-fluid" />
            </div>
            <div class="caption text-center">
              <a href="{% url 'blog:post' %}" class="post-title">I'm only breathing</a>
              <span class="post-date">6 Sept 2015</span>
            </div>
          </div>
        </section>

        <section class="col-md-4 wow fadeIn">
          <div class="quote">

            <i class="quote-left fa fa-quote-left"></i>
            <i class="quote-right fa fa-quote-right"></i>

            <div class="text-center">
              <img src="{% static 'img/matt-berninger.jpg' %}" class="quote-face" />
              <blockquote>
                <p>Don't look at me I'm indiscreet</p>
                <footer>Matt Berninger</footer>
              </blockquote>
            </div>
          </div>
        </section>

        <section class="col-md-4 wow fadeIn">
          <div class="post">
            <div class="media">
              <img src="{% media 'uploads/DeathtoStock_EnergyandSerenity6.jpg' %}" class="img-fluid" />
            </div>
            <div class="caption text-center">
              <a href="{% url 'blog:post' %}" class="post-title">You're sharp alright</a>
              <span class="post-date">6 Aug 2015</span>
            </div>
          </div>
        </section>

        <section class="col-md-4 wow fadeIn">
          <div class="post">
            <div class="caption">

              <div class="post-thumb">
                <img src="{% media 'uploads/DeathtoStock_EnergyandSerenity31.jpg' %}" class="img-fluid" />
              </div>

              <span class="post-tag">#music</span>
              <a href="{% url 'blog:post' %}" class="post-title">Leave it alone</a>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              <br />
              <br />
              Cum sociis natoque penatibus et magnis dis parturient montes magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo <a href="#">ligula eget dolor</a>.</p>
              <span class="post-date">13 June 2015</span>
            </div>
          </div>
        </section>

        <section class="col-md-4 wow fadeIn" style="display:none;">
          <div class="post">
            <div class="media">
              <img src="{% media 'uploads/DeathtoStock_EnergyandSerenity10.jpg' %}" class="img-fluid" />
            </div>
            <div class="caption text-center">
              <a href="{% url 'blog:post' %}" class="post-title">Can we</a>
              <span class="post-date">12 Apr 2015</span>
            </div>
          </div>
        </section>

        <section class="col-md-8 wow fadeIn" style="display:none;">
          <div class="post">
            <div class="row">
              <div class="col-md-6 caption">
                <span class="post-tag">#music</span>
                <a href="{% url 'blog:post' %}" class="post-title">Show a little discipline</a>
                <span class="post-date">23 Mar 2015</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. <a href="#">Aenean massa</a>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo ligula eget dolor.</p>
              </div>
              <div class="col-md-6 media">
                <img src="{% media 'uploads/DeathtoStock_EnergyandSerenity31.jpg' %}" class="img-fluid" />
              </div>
            </div>
          </div>
        </section>

        <section class="col-md-4 wow fadeIn" style="display:none;">
          <div class="post">
            <div class="media">
              <img src="{% media 'uploads/DeathtosStockSerenity9.jpg' %}" class="img-fluid" />
            </div>
            <div class="caption text-center">
              <a href="{% url 'blog:post' %}" class="post-title">Loose lips</a>
              <span class="post-date">3 Jan 2015</span>
            </div>
          </div>
        </section>

        <section class="col-md-4 wow fadeIn" style="display:none;">
          <div class="post">
            <div class="media">
              <img src="{% media 'uploads/DeathtoStock_EnergyandSerenity2.jpg' %}" class="img-fluid" />
            </div>
            <div class="caption text-center">
              <a href="{% url 'blog:post' %}" class="post-title">Sink</a>
              <span class="post-date">7 Sept 2014</span>
            </div>
          </div>
        </section>

        <section class="col-md-4 wow fadeIn" style="display:none;">
          <div class="post">
            <div class="media">
              <img src="{% media 'uploads/DeathtoStock_EnergyandSerenity5.jpg' %}" class="img-fluid" />
            </div>
            <div class="caption text-center">
              <a href="{% url 'blog:post' %}" class="post-title">Ships</a>
              <span class="post-date">18 July 2014</span>
            </div>
          </div>
        </section>

        <div class="col-md-12">
          <div class="text-center">
            <a href="#" class="btn ada-btn btn-ada-light load-more">Older posts</a>
          </div>
        </div>

      </div>
    </div>
    {% endblock content %}