<section class="col-md-8 wow fadeIn">
    <div class="post">
        <div class="row">
            <div class="col-md-6 media">
                <img src="{{ post.preview_img_url }}" class="img-fluid" />
            </div>
            <div class="col-md-6 caption">
                <span class="post-tag">{{ hashtag }}</span>
                <a href="{% url 'blog:post_latest' %}" class="post-title">{{ post.title }}</a>
                <span class="post-date">{{ post.date }}</span>
                <p class="post-description">{{ post.description }}</p>
            </div>
        </div>
    </div>
</section>