<section class="col-md-4 wow fadeIn">
    <div class="post">
        <div class="caption">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="thumbnail" style="background-image: url({{ object.post.preview_img_url }});">
                        <!-- <img src="{{ post.preview_img_url }}" class="img-fluid" /> -->
                    </div>
                </div>
                <div class="col-9">
                    <div class="container p-none">
                        <span class="post-tag">{{ object.tag }}</span>
                        <a href="{% url 'blog:post_latest' %}" class="post-title">{{ object.post.title }}</a>
                    </div>
                </div>
            </div>
            <p class="post-description">{{ object.post.description }}</p>
            <span class="post-date">{{ object.post.post_date }}</span>
        </div>
    </div>
</section>