<section class="col-md-8 wow fadeIn" style="display:none;">
    <div class="post">
        <div class="row">
            <div class="col-md-6 caption">
                <span class="post-tag">{{ hastags }}</span>
                <a href="{% url 'blog:post_latest' %}" class="post-title">{{ post.title }}</a>
                <span class="post-date">{{ post.date }}</span>
                <p class="post-description">{{ post.description }}</p>
            </div>
            <div class="col-md-6 media">
                <div class="thumbnail" style="background-image: url({{ post.preview_img_url }});"></div>
                <!-- <img src="{{ post.preview_img_url }}" class="img-fluid" /> -->
            </div>
        </div>
    </div>
</section>