.post-tags {
    align-items: flex-start;
    justify-content: space-around;
}

.max-70vh {
    max-height: 70vh;
}

.post p,
.post ul,
.post ol {
    font-family: Georgia, serif;
    color: rgb(41, 41, 41);
    font-weight: 400;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 21px;
    line-height: 32px;
}

.post li {
    margin-top: 0.8em;
}

.post h3 {
    line-height: 40px;
    margin-top: 1.5em;
    font-size: 28px;
    font-weight: 600;
}

.post .post-tag {
    font-size: 17px;
}

#single .caption {
    margin: 1em auto 40px auto;
}

.post {
    background: #fff;
}

.image {
    text-align: center;
}

.image img {
    max-height: 70vh;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}
