{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock extracss %}

{% block title %}Login{% endblock title %}
{% block content %}
    <div class="container mt-5">
        {% crispy form %}
    </div>
{% endblock content %}

{% block extrajs %}
<script async src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock extrajs %}