{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/tagify.css' %}">
{% endblock extracss %}

{% block extrajs %}
    <script defer src="{% static 'js/tagify.js' %}"></script>
    <script defer src="{% static 'js/tagify_hashtags_field.js' %}"></script>
    <script defer src="{% static 'js/post_create_page.js' %}"></script>
    <script defer src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
{% endblock extrajs %}

{% block content %}
    <div class="container my-5">
        {% crispy form %}
    </div>
{% endblock content %}